<div class="container">

    <div class="jumbotron">
        <div class="container">
            <h2 style="color: #ffd800;">Shitty Employee Manager</h2>
            
            <a class="btn btn-warning" href="/employees" role="button">View Employees</a>
            <a class="btn btn-danger" href="/home" role="button">Home</a>
        </div>
    </div>

    

    <div class="panel panel-default">
        <!-- Default Panel Contents -->
        <div class="panel-heading"><h4>Create Shitty Employee</h4></div>

        <form name="employeeForm" ng-submit="submitForm()">
            <input type="text" class="form-control" placeholder="Name" ng-model="employee.name" />
            <input type="text" class="form-control" placeholder="Department" ng-model="employee.department" />
            <input type="text" class="form-control" placeholder="Employed" ng-model="employee.employed" />
            <input type="text" class="form-control" placeholder="Supervisor" ng-model="employee.supervisor" />
            <input type="text" class="form-control" placeholder="Salary" ng-model="employee.salary" />
            <input type="text" class="form-control" placeholder="Address" ng-model="employee.address" />
        </form>
        
        <div class="btn" role="button">
            <button ng-submit ng-click="submitForm()"type="button" class="btn btn-danger">Create Employee</button>
        </div>
    </div>

</div>



